#container{
    width: 1500px;
    height: 900px;
    background-color: rgba(243, 137, 128, 1);
    margin: auto;
    border-radius: 20px;
}
.page_1{
    text-align: center;
    font-size: 60px;
    color: rgba(243, 137, 128, 1);
}
.First{
    width: 1500px;
    height: 200px;
    border-bottom: 5px solid black;
}
.left{
    float: left;
    margin-top: 70px;
    margin-left: 70px;
}
.icon-return{
    font-size: 50px;
}
.icon-return,a{
    color: black;
}
.text-menu{
    float: right;
    font-size: 50px;
    margin-left: 40px;
}
.right{
    float: right;
}
.search{
    float: left;
    width: 500px;
    height: 80px;
    border: 5px sloid white;
    border-radius: 40px;
    background-color: white;
    margin-top: 60px;
    margin-right: 60px;

}
.text{
    float: left;
    font-size: 35PX;
    margin-top: 25PX;
    margin-left: 30px;
    color: rgba(243, 137, 128, 1);
}
.icon-search{
    float: right;
    font-size: 45px;
    margin-top: 20PX;
    margin-right: 30px;
    color: rgba(243, 137, 128, 1);
}
.dott{
    float: right;
    font-size: 50px;
    margin-top: 70px;
    margin-right: 70px;
}
.Second{
    width: 1500px;
    height: 700px;
}
.Left-box{
    float: left;
    width: 1000px;
    height: 700px;
    /* background-color: blue; */
}
.three-bok1{
    margin: auto;
    position: relative;
    top: 20px;
    width: 960px;
    height: 330px;
    /* background-color: blueviolet; */
    margin-left: 20px;
    display: flex;
    gap: 10px;
}
.box-1{
    width: 300px;
    height: 300px;
    position: relative;
    top: 15px;
    left: 25px;
    border-radius: 20px;
    background-color: white;
}
.fa.fa-book{
    font-size: 100px;
    padding-left: 100px;
    padding-top: 50px;
    display: grid;
    gap: 20px;
}
.book{
    font-size: 40px;
    padding-left: 80px;
    padding-top: 150px;
    position: relative;
    top:20px;
}
.box-2{
    width: 300px;
    height: 300px;
    position: relative;
    top: 15px;
    left: 25px;
    border-radius: 20px;
    background-color: white;
}
.fa.fa-file-video-o{
    font-size: 100px;
    padding-left: 100px;
    padding-top: 50px;
    display: grid;
    gap: 20px;
}
.video{
    font-size: 40px;
    padding-left: 80px;
    padding-top: 150px;
    position: relative;
    top:20px;
}
.box-3{
    width: 300px;
    height: 300px;
    position: relative;
    top: 15px;
    left: 25px;
    border-radius: 20px;
    background-color: white;
}
.fa.fa-file-text{
    font-size: 100px;
    padding-left: 100px;
    padding-top: 50px;
    display: grid;
    gap: 20px;
}
.reference{
    font-size: 40px;
    padding-left: 30px;
    padding-top: 150px;
    position: relative;
    top:20px;
}
.three-bok2{
    margin: auto;
    position: relative;
    top: 25px;
    width: 960px;
    height: 330px;
    /* background-color: orange; */
    display: flex;
    gap: 10px;
}
.box-4{
    width: 300px;
    height: 300px;
    position: relative;
    top: 15px;
    left: 25px;
    border-radius: 20px;
    background-color: white;
}
.fa.fa-users{
    font-size: 100px;
    padding-left: 80px;
    padding-top: 50px;
    display: grid;
    gap: 20px;
}
.group{
    font-size: 40px;
    padding-left: 70px;
    padding-top: 160px;
    position: relative;
    top:20px;
}
.box-5{
    width: 300px;
    height: 300px;
    position: relative;
    top: 15px;
    left: 25px;
    border-radius: 20px;
    background-color: white;
}
.fa.fa-gamepad{
    font-size: 100px;
    padding-left: 80px;
    padding-top: 50px;
    display: grid;
    gap: 20px;
}
.game{
    font-size: 40px;
    padding-left: 80px;
    padding-top: 150px;
    position: relative;
    top:20px;
}
.box-6{
    width: 300px;
    height: 300px;
    position: relative;
    top: 15px;
    left: 25px;
    border-radius: 20px;
    background-color: white;
}
.fa.fa-code{
    font-size: 100px;
    padding-left: 80px;
    padding-top: 50px;
    display: grid;
    gap: 20px;
}
.code{
    font-size: 40px;
    padding-left: 80px;
    padding-top: 150px;
    position: relative;
    top:20px;
}
.Right-box{
    float: right;
    width: 500px;
    height: 700px;
    /* background-color: pink; */
}
.big-box{
    width: 400px;
    height: 640px;
    border-radius: 20px;
    background-color: white;
    /* margin: auto; */
    margin-left: 30px;
    position: relative;
    top: 30px;
}
.row1{
    width: 350px;
    height: 100px;
    /* background-color: yellow; */
    position: relative;
    left: 30px;
    top:20px
}
.fa.fa-home{
    font-size: 70px;
    margin-top: 50PX;
}
.home{
    font-size: 35px;
    position: relative;
    left: 30px;
    bottom: 5px;
}
.row2{
    width: 350px;
    height: 100px;
    /* background-color: orange; */
    position: relative;
    left: 30px;
    top:40px
}
.fa.fa-user-circle-o{
    font-size: 60px;
    margin-top: 50PX;
}
.user{
    font-size: 35px;
    position: relative;
    left: 30px;
    bottom: 10px;
}
.row3{
    width: 350px;
    height: 100px;
    /* background-color: purple; */
    position: relative;
    left: 30px;
    top: 55px;
}
.fa.fa-user-plus{
    font-size: 60px;
    margin-top: 50PX;
}
.friend{
    font-size: 35px;
    position: relative;
    left: 30px;
    bottom: 10px;
}
.row4{
    width: 350px;
    height: 100px;
    /* background-color: green; */
    position: relative;
    left: 30px;
    top:65px
}
.fa.fa-archive{
    font-size: 60px;
    margin-top: 50PX;
}
.memorie{
    font-size: 35px;
    position: relative;
    left: 30px;
    bottom: 5px;
}
.row5{
    width: 350px;
    height: 100px;
    /* background-color: rgb(237, 194, 190); */
    position: relative;
    left: 30px;
    top:75px;
}
.fa.fa-bookmark{
    font-size: 60px;
    margin-top: 50PX;
}
.save{
    font-size: 35px;
    position: relative;
    left: 30px;
    bottom: 5px;
}