#container{
    width: 390px;
    height: 810px;
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
}
.Header{
    width: 390px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.Top{
    display: flex;
    gap: 8px;
}
.Nav{
    width: 400px;
    height: 60px;
    display: flex;
    /* justify-content: space-between; */
    gap: 27px;
    align-items: center;
}
.logo{
    font-size: 35px;
}
.Box-search{
    width: 300px;
    height: 35px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12px;
    font-size: 18px;
}
.Box-search{
    display: flex;
    gap: 225px;
    align-items: center;
    padding: 0px 10px;
}
.line1{
    width: 390px;
    height: 2px;
    background-color: rgba(217, 217, 217, 1);
}
.Menu{
    width: 390px;
    width: 60px;
    display: flex;
    gap: 70px;
    font-size: 22px;
    padding: 6px 0px 1px 0px;
}
.active{
    border-bottom: 4px solid rgba(255, 151, 151, 1);
}
.line2{
    width: 390px;
    height: 2px;
    background-color: rgba(217, 217, 217, 1);
}
/* .Scroll{
    width: 390px;
    height: 708px;
    overflow: auto;
} */
.Bar1{
    width: 390px;
    display: flex;
    gap: 200px;
    padding: 10px 0px 2px 0px;
}
.image_name1{
    display: flex;
    gap: 10px;
}
.name1{
    display: grid;
    gap: 4px;
}
.dots_three1{
    font-size: 23px;
    position: relative;
    top: 10px;
}
.text1{
    padding: 2px 0px 5px 0px;
    font-size: 12px;
}
.image1{
    padding: 2px 0px 3px 0px;
}
.comment1{
    width: 390px;
    display: flex;
    gap: 175px;
    padding: 2px 0px 6px 0px;
}
.comments{
    width: 133px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}
.line3{
    width: 385px;
    height: 2px;
    background-color: rgba(217, 217, 217, 1);
}
.Bar2{
    width: 390px;
    display: flex;
    gap: 200px;
    padding: 10px 0px 2px 0px;
}
.image_name2{
    display: flex;
    gap: 10px;
}
.name2{
    display: grid;
    gap: 4px;
}
.dots_three2{
    font-size: 23px;
    position: relative;
    top: 10px;
}
.text2{
    padding: 2px 0px 5px 0px;
    font-size: 12px;
}