#container{
    width: 1500px;
    height: 900px;
    background-color: rgba(243, 137, 128, 1);
    margin: auto;
    border-radius: 20px;
}
.register{
    text-align: center;
    font-size: 60px;
    color: rgba(243, 137, 128, 1);
}
.box-register{
    width: 600px;
    height: 840px;
    margin: auto;
    position: relative;
    top: 20px;
    border: 1px solid rgba(255, 203, 199, 1);
    background-color: rgba(255, 203, 199, 1);
    border-radius: 20px;
}
.box-pink{
    width: 300px;
    height: 120px;
    background-color: rgba(243, 137, 128, 1);
    border: 2px solid white;
    border-radius: 30px;
    margin: auto;
    position: relative;
    top: 25px;
}
.icon{
    font-size: 60px;
    position: relative;
    left: 10px;
    top: 10px;
}
.big-text{
    text-align: center;
    font-size: 30px;
    color: white;
    position: relative;
    left: 10px;
    bottom: 30px;
}
.small-text{
    text-align: center;
    font-size: 45px;
    color: rgba(243, 137, 128, 1);
    position: relative;
    top: 25px;
}
form{
    position: absolute;
    margin: 10px 40px;
}
label{
    font-size: 35px;
}
input{
    border: none;
    font-size: 40px;
    border-bottom: 5px solid rgba(243, 137, 128, 1);
    background-color: rgba(255, 203, 199, 1);
}
.box1{
    width: 250px;
    font-size: 20px;
    text-align: center;
    margin: 30px 130px;
    border: 1px solid  white;
    border-radius: 100px;
    background-color:  rgba(243, 137, 128, 1);
}
.box1:hover{
    background-color:white;
}
h1{
    color: black;
}
.text{
    font-size: 25px;
    color: rgba(243, 137, 128, 1);
}
.text,a{
    text-decoration: none;
    color: rgba(243, 137, 128, 1);
}
.text,a:hover{
    color: white;
}