#container{
    width: 390px;
    height: 810px;
    background-color: rgba(243, 137, 128, 1);
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
}
.Home{
    text-align: center;
    font-size: 20px;
    color: rgba(243, 137, 128, 1);
}
.zero{
    width: 390px;
    height: 28px;
    /* background-color: aqua; */
}
.left-1{
    float: left;
    font-size: 20px;
    position: relative;
    left: 15px;
    top: 5px;
}
.right-1{
    float: right;
    position: relative;
    right: 15px;
    top: 5px;
}
.First{
    width: 390px;
    height: 36px;
    border-bottom: 2px solid black;
    /* background-color: blue; */
}
.left-2{
    float: left;
}
.icon-1{
    font-size: 30px;
    position: relative;
    left: 10px;
}
.search-box{
    width: 260px;
    height: 25px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    left: 70px;
    bottom: 30px;
}
.search{
    font-size: 15px;
    color: grey;
    position: relative;
    left: 15px;
    top: 3px;
}
.right-2{
    float: right;
}
.fa.fa-search{
    font-size: 20px;
    position: relative;
    right: 20px;
    top: 8px;
}
.Second{
    width: 390px;
    height: 40px;
    border-bottom: 2px solid white;
    /* background-color: orange; */
}
.Box-icon{
    display: flex;
    gap: 55px;
    position: relative;
    right: 245px;
}
.fa.fa-home{
    font-size: 25px;
    position: relative;
    bottom: 5px;
}
.active{
    border-bottom: 3px solid black;
    position: relative;
    top: 11px;
    width: 40px;
}
.fa.fa-users{
    font-size: 25px;
    position: relative;
    top: 8px;
}
.fa.fa-user-circle{
    font-size: 25px;
    position: relative;
    top: 8px;
}
.fa.fa-bell{
    font-size: 25px;
    position: relative;
    top: 8px;
}
.fa.fa-bars{
    font-size: 25px;
    position: relative;
    top: 8px;
}
a{
    color: black;
}
.box-1{
    width: 390px;
    height: 50px;
    /* background-color: brown; */
}
.people{
    float: left;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 40px;
    position: relative;
    top: 3px;
    left: 10px;
}
.text-1{
    position: relative;
    left: 15px;
    top: 8px;
}
.time{
    font-size: 10px;
    position: relative;
    top: 25px;
    right: 85px;
}
.fa.fa-globe{
    font-size: 10px;
    position: relative;
    top: 25px;
    right: 80px;
}
.box-2{
    width: 390px;
    height: 30px;
    position: relative;
    bottom: 10px;
    /* background-color: purple; */
}
.p1{
    font-size: 12px;
    position: relative;
    left: 8px;
}
.pic-1{
    width: 390px;
    height: 210px;
    position: relative;
    top: 4px;
}
.box-live-1{
    display: flex;
    gap: 30px;
    position: relative;
    left: 10px;
    top: 10px;
}
.box-4{
    width: 390px;
    height: 40px;
    /* background-color: aquamarine; */
    /* border-top: 2px solid white; */
    border-bottom: 2px solid white;
}
.left-3{
    float: left;
}
.fa.fa-heart{
    font-size: 20px;
}
.fa.fa-comments{
    font-size: 20px;
}
.fa.fa-share-alt{
    font-size: 20px;
}
.right-3{
    float: right;
}
.view{
    font-size: 20px;
    position: relative;
    right: 10px;
    top: 8px;
}
.pic-2{
    width: 390px;
    height: 210px;
    position: relative;
    top: 4px;
}
.p2{
    font-size: 12px;
    position: relative;
    left: 8px;
}
.left-4{
    float: left;
}
.right-4{
    float: right;
}
.box-live-2{
    display: flex;
    gap: 30px;
    position: relative;
    left: 10px;
    top: 10px;
}
.bottom{
    border-radius: 4px;
}